<section id="gear-dropdown" class="dropdown-content hidden">
	<div>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</div>

	<div class="helper">
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>

</section>
