<section class="masthead">
  <div class="language-nav">
    <ul>
      <li>
      <a href="">CSS</a>
      </li>
      <li>
      <a href="">HTML</a>
      </li>
      <li>
      <a href="">JAVASCRIPT</a>
      </li>
      <li>
      <a href="">RUBY</a>
      </li>
    </ul>
  </div>

 <img class="logo" src="assets/AA_Times_Logo.png" alt="stupidassshit">
    <ul class="masthead-links">
      <li>
      date
      </li>
      <li>
      <a href="">todays paper</a>
      </li>
      <li>
      <a href="">video</a>
      </li>
      <li>
      <a href="">temp</a>
      </li>
      <li>
      <a href="">stock</a>
      </li>
    </ul>
</section>