<section class="masthead2" >
  <div class="lanuage-nav2">
    <ul class="masthead-links2">
      <li>
      <a href="">World</a>
      </li>
      <li>
      <a href="">San Francisco</a>
      </li>
      <li>
      <a href="">New York</a>
      </li>
      <li>
      <a href="">BootCamp Prep</a>
      </li>
      <li>
      <a href="">Jumpstart</a>
      </li>
      <li>
      <a href="">Online</a>
      </li>
      <li>
      <a href="">Marketing</a>
      </li>
      <li>
      <a href="">Sales</a>
      </li>
    </ul>
  </div>


</section>